<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>
  <!-- Add your EJS code here -->
  <header>
    <% include ./partials/_header %>
  </header>

  <ul>
      <% for (let eachUrl in urls) { %>
        <li>
          <form method="POST" action="/urls/<%= eachUrl %>/delete">
            <a href ="/urls/<%= eachUrl %>"><%= eachUrl %></a> :
            <a href="#"><%= urls[eachUrl]["url"] %></a>
            <a href="/urls/<%= eachUrl %>">EDIT</a>
            <input type="submit" value="Delete Me">
          </form>
        </li>
      <% }; %>

    </ul>

</body>

</html>